<div class="container text-center pt-3">
  <div class="row">
    <div class="col">
      <div class="display-1 montserrat-extrabold text-light">
        No Peeking Jax
      </div>
    </div>
    
  </div>
</div>